<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716356083227-h8r04q8vg9u1nej5gu45eiqr1qg0d8vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716356083227-h8r04q8vg9u1nej5gu45eiqr1qg0d8vg</string>
	<key>API_KEY</key>
	<string>AIzaSyBDnkoAcvZsaX9_4KLjNzMU0Ue0fqDFoAo</string>
	<key>GCM_SENDER_ID</key>
	<string>716356083227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-c9a0f</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-c9a0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716356083227:ios:e0c1869372e343e1c6e2be</string>
</dict>
</plist>